Books\Domain\Model\Lectures\Lecture:
    type: entity
    table: BOOKS_READED
    repositoryClass: Books\DomainBundle\Ports\Adapter\Persistance\Doctrine\Lecture\LectureRepository
    id:
        id:
            type: integer
            nullable: false
            unsigned: false
            comment: ''
            id: true
            column: id
            generator:
                strategy: AUTO
    manyToOne:
        book:
            targetEntity: Books\Domain\Model\Book\Book
            inversedBy: lectures
            joinColumn:
                name: id_book
                referencedColumnName: id
        user:
            targetEntity: Books\Domain\Model\User\User
            inversedBy: lectures
            joinColumn:
                name: id_user
                referencedColumnName: id
    oneToOne:
        review:
            targetEntity: Books\Domain\Model\Review\Review
            mappedBy: lecture
